* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

@mixin df($jc, $ai, $g) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin ff($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.content {
    padding: 0 0;
}

.navigation {
    background: #222222;
}

.nav-flex {
    @include df(space-between, center, 0);
}

.nav__left {
    @include df(unset, center, 56%);
}

.nav__right {
    @include df(flex-end, center, 30%);
}

.nav__logo-link {
    padding: 18px 0 19px;
}

.nav__search-link {
    padding: 28px 0 20px;
}

.nav__menu-link {
    padding: 30px 0 22px;
}

.nav__user-profile {
    padding: 26px 0 22px;
}

.nav__cart-link {
    padding: 26px 0 22px;
}

.header-content {
    background: #f1e4e6;
    margin-bottom: 65px;
}

.header-flex {
    @include df(space-between, center, 0);
}

.header-content__text-box {
    border-left: 12px solid #f16d7f;
    @include df(center, flex-start, 0);
    flex-direction: column;
    height: 93px;
    width: 43%;
}

.header-content__heading {
    padding-left: 3%;
    color: #222;
    @include ff(48px, 900);
}

.header-content__text {
    padding-left: 3%;
    @include ff(35px, 700);
    line-height: 44px;
    color: #222;
}

.header-content__span {
    @include ff(35px, 700);
    line-height: 44px;
    color: #f16d7f;
}

.offers {
    margin-bottom: 96px;
}

.offers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offers__item-link {
    @include df(center, center, 0);
    position: relative;
}

.offers__item-link-big {
    @include df(center, center, 0);
    position: relative;
}

.offers__item-big {
    grid-column: 1/4;
    grid-row: 2/3;
}

.offers__item-text {
    @include ff(16px, 400);
    @include df(unset, center, 0);
    flex-direction: column;
    color: #fff;
    position: absolute;
    transition: all 0.3s ease;
}

.offers__item-link:hover .offers__item-text {
    transform: scale(1.2);
}

.offers__item-link-big:hover .offers__item-text {
    transform: scale(1.2);
}

.offers__item-span {
    color: rgba(241, 109, 127, 1);
    @include ff(24px, 700);
    line-height: 29px;
}

.futured {
    margin-bottom: 95px;
}

.futered__heading {
    text-align: center;
    color: #222;
    @include ff(30px, 400);
    margin-bottom: 6px;
}

.futered__text {
    text-align: center;
    color: #9f9f9f;
    @include ff(14px, 400);
    margin-bottom: 48px;
}

.futered__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.futered__item {
    max-width: 360px;
    margin-bottom: 30px;
}

.futered__item:hover .futered__item-img {
    filter: brightness(45%);
    transition-duration: 0.5s;
}

.futered__item-link {
    display: block;
}

.futered__txt-box {
    padding: 24px 16px;
}

.futered__item:hover .futered__txt-box {
    background-color: rgba(248, 248, 248, 1);
    transition-duration: 0.5s;
}

.futered__item-heading {
    color: #000;
    @include ff(13px, 400);
    margin-bottom: 12px;
}

.futered__item-desc {
    color: #5d5d5d;
    @include ff(14px, 300);
    margin-bottom: 18px;
}

.futered__item-price {
    color: #f16d7f;
    @include ff(16px, 400);
}

.futured__link {
    @include df(center, center, 0);
}

.futured__link-product {
    color: #f26376;
    @include ff(16px, 400);
    padding: 15px 39px;
    border: 1px solid rgba(255, 106, 106, 1);
    transition: all 0.3s ease;
}

.futured__link-product:hover {
    color: #fff;
    background-color: rgba(241, 109, 127, 1);
    transform: scale(1.1);
}

.advantages {
    background-color: #222224;
    padding: 103px 0 104px;
}

.advantages-flex {
    @include df(center, center, 30px);
}

.advantages__item {
    @include df(center, center, 0);
    flex-direction: column;
}

.advantages__item__img {
    margin-bottom: 24px;
}

.advantages__item__heading {
    color: #fbfbfb;
    @include ff(20px, 400);
    margin-bottom: 16px;
}

.advantages__item__desc {
    text-align: center;
    color: #fbfbfb;
    @include ff(14px, 300);
    max-width: 88%;
}

.footer__top-bg {
    background-image: url(img/footer__bg-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 87px 0 126px;
}

.footer__top {
    @include df(space-between, center, 0);
}

.footer__fig {
    @include df(unset, center, 30px);
    flex-direction: column;
    max-width: 31%;
}

.footer__fig-img {
    width: 27%;
}

.footer__figcaption {
    text-align: center;
    @include ff(20px, 400);
    height: 99px;
}

.footer__figcaption_span {
    font-style: italic;
}

.footer__form-info {
    @include df(center, center, 0);
    flex-direction: column;
}

.footer__form-heading {
    color: #222224;
    @include ff(24px, 700);
    line-height: 167.2%;
}

.footer__form-desc {
    color: #222224;
    @include ff(18px, 400);
    line-height: 167.2%;
    margin-bottom: 32px;
}
.footer__form {
    @include df(center, center, 0);
    width: 100%;
}

.footer__input {
    height: 49px;
    background-color: #e1e1e1;
    border-radius: 20px 0 0 20px;
    border: none;
    @include ff(14px, 400);
    line-height: 17px;
    color: #222224;
    width: 100%;
    padding: 0 10%;
    opacity: 0.67;
}

.footer__btn {
    color: #fff;
    text-align: center;
    @include ff(14px, 400);
    background-color: rgba(241, 109, 127, 1);
    height: 49px;
    border: none;
    border-radius: 0px 20px 20px 0;
    width: 40%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer__btn:hover {
    transform: scale(1.1);
}

.footer__bottom-bg {
    padding: 24px 0;
    background-color: #222224;
}

.footer__bottom {
    @include df(space-between, center, 0);
}

.footer__copy {
    color: #fbfbfb;
    @include ff(16px, 400);
}

.footer__contacts {
    @include df(space-between, center, 7px);
    width: 13%;
}

.footer__contact-link {
    @include df(center, center, 0);
    background-color: rgba(255, 255, 255, 1);
    height: 32px;
    width: 100%;
    transition: all 0.3s ease;
}

.footer__contact-link:hover {
    background-color: rgba(241, 109, 127, 1);
    transform: scale(1.1);
}

.fa-facebook-f,
.fa-instagram,
.fa-pinterest-p,
.fa-twitter {
    color: rgb(0, 0, 0);
}

.footer__contact-link:hover .fa-facebook-f {
    color: rgba(255, 255, 255, 1);
}
.footer__contact-link:hover .fa-instagram {
    color: rgba(255, 255, 255, 1);
}
.footer__contact-link:hover .fa-pinterest-p {
    color: rgba(255, 255, 255, 1);
}
.footer__contact-link:hover .fa-twitter {
    color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .content {
        padding: 0 2%;
    }

    .nav__left {
        padding-left: 3%;
    }

    .nav__right {
        padding-right: 3%;
    }

    .nav__logo-link {
        padding: 18px 0 18px;
    }

    .nav__search-link {
        padding: 28px 0 19px;
    }

    .nav__menu-link {
        padding: 31px 0 20px;
    }

    .nav__user-profile {
        padding: 27px 0 18px;
    }

    .nav__cart-link {
        padding: 27px 0 18px;
    }

    .header-content-img {
        height: 368px;
        padding-left: 3%;
    }

    .header-content__text-box {
        align-items: flex-start;
        margin-right: 3%;
        height: 78px;
        width: 56%;
    }

    .header-content__heading {
        @include ff(44px, 900);
        line-height: 41px;
    }

    .header-content__text {
        @include ff(31px, 700);
    }

    .header-content__span {
        @include ff(31px, 700);
    }

    .offers {
        margin-bottom: 109px;
    }

    .offers-grid {
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offers__item__link_img {
        max-width: 100%;
    }

    .offers__item__link_img-big {
        max-width: 100%;
    }

    .futured {
        margin-bottom: 64px;
    }

    .futered__box {
        margin-bottom: 32px;
    }

    .futered__heading {
        margin-bottom: 3px;
    }

    .futered__text {
        margin-bottom: 72px;
    }

    .futered__item {
        margin-bottom: 17px;
    }

    .futered__txt-box {
        padding: 25px 16px;
    }

    .advantages {
        padding: 48px 0 64px;
    }

    .advantages-flex {
        flex-direction: column;
        gap: 48px;
    }

    .advantages__item__desc {
        max-width: 54%;
    }

    .footer__top-bg {
        padding: 54px 0 140px;
    }

    .footer__top {
        flex-direction: column;
        gap: 48px;
    }

    .footer__fig {
        max-width: 100%;
    }

    .footer__fig-img {
        width: 13%;
    }

    .footer__figcaption {
        max-width: 55%;
    }

    .footer__form-heading,
    .footer__form-desc {
        line-height: 162%;
    }

    .footer__form-desc {
        margin-bottom: 27px;
    }

    .footer__contacts {
        width: 20%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 375px;
    }

    .content {
        padding: 0 2%;
    }

    .nav__left {
        padding-left: 2%;
    }

    .nav__right {
        padding-right: 2%;
    }

    .nav__user-profile,
    .nav__cart-link,
    .header-content-img {
        display: none;
    }

    .nav__logo-link {
        padding: 18px 0 18px;
    }

    .nav__search-link {
        padding: 28px 0 19px;
    }

    .nav__menu-link {
        padding: 25px 0 26px;
    }

    .header-content {
        margin-bottom: 64px;
    }

    .header-flex {
        padding: 148px 2% 149px;
        justify-content: center;
    }

    .header-content__text-box {
        width: 100%;
        margin-left: 11%;
        height: 61px;
    }

    .header-content__heading {
        @include ff(38px, 900);
    }

    .header-content__text {
        @include ff(21px, 700);
        line-height: 25px;
    }

    .header-content__span {
        @include ff(21px, 700);
        line-height: 25px;
    }

    .offers {
        margin-bottom: 64px;
    }

    .offers-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 247px) 111px;
        gap: 32px;
    }

    .offers__item-big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .offers__item__link_img {
        max-width: 95%;
    }

    .offers__item__link_img-big {
        height: 111px;
        max-width: 95%;
    }

    .futured {
        margin-bottom: 96px;
    }

    .futered__box {
        margin-bottom: 40px;
    }

    .futered__text {
        margin-bottom: 64px;
    }

    .futered__item {
        max-width: 359px;
        margin-bottom: 16px;
    }

    .advantages {
        padding: 48px 0 81px;
    }

    .advantages-flex {
        flex-direction: column;
        gap: 47px;
    }

    .footer__top-bg {
        padding: 64px 0 110px;
    }

    .footer__top {
        flex-direction: column;
        gap: 59px;
    }

    .footer__fig {
        max-width: 100%;
    }

    .footer__fig-img {
        width: 25%;
    }

    .footer__figcaption {
        @include ff(18px, 400);
        height: 73px;
    }

    .footer__form-heading,
    .footer__form-desc {
        line-height: 153%;
    }

    .footer__form-desc {
        @include ff(14px, 400);
        margin-bottom: 22px;
    }

    .footer__bottom-bg {
        padding: 43px 0 9px;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .footer__contacts {
        width: 42%;
    }
}
