* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.top {
    padding-top: 40px;
}

.top__header {
    margin-bottom: 84px;
}

.top__header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__nav-flex {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.top__nav__link:first-of-type {
    color: #F25822;
}

.top__nav__link {
    color: #000;
    font-size: 14px;
    font-family: 'Gilroy-Medium';
}

.top__nav__link-flex {
    display: flex;
    align-items: center;
    gap: 3px;
}

.fa-chevron-down {
    font-size: 8px;
}

.top__content {
    margin-bottom: 162px;
}

.top__content-flex {
    display: flex;
    justify-content: space-between;
    gap: 41px;
}

.top__info__title {
    color: #000;
    font-size: 60px;
    font-family: 'Gilroy-Bold';
    margin-bottom: 17px;
}

.top__info__text {
    color: #888;
    font-size: 20px;
    font-family: 'Gilroy-Medium';
    margin-bottom: 37px;
}

.top__btns-flex {
    display: flex;
    align-items: center;
    gap: 72px;
}

.top__btn-left {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 35px;
    color: #FFF;
    font-size: 15px;
    font-family: 'Gilroy-Bold';
}

.top__btn-right {
    color: #AAA;
    font-size: 15px;
    font-family: 'Gilroy-Bold';
}

.top__logos {
    padding: 96px 0;
}

.top__logos-flex {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}